# Python
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Pip
pip-log.txt
pip-delete-this-direcetory.txt

# Testing
.pytest_cache/

# Database
*.db
*.sqlite3
*.sqlite3-journal

# Flask
instance/*
.webassets-cache
.env

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
