{% extends 'base.html' %}

{% block content %}
<h1>New Maintenance Record</h1>

<form action="" method="post" novalidate>
    <p>
        {{ form.vehicle_name.label }}<br>
        {{ form.vehicle_name(size=64) }}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date() }}
        {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.mileage.label }}<br>
        {{ form.mileage(step="any") }}
    </p>
    <p>
        {{ form.technician.label }}<br>
        {{ form.technician(size=64) }}
    </p>
    <p>
        {{ form.service_name.label }}<br>
        {{ form.service_name(size=128) }}
    </p>
    <p>
        {{ form.service_notes.label }}<br>
        {{ form.service_notes(rows=64, cols=20) }}
    </p>
    <p>
        {{ form.vehicle_name.label }}<br>
        {{ form.vehicle_name(rows=32,cols=2) }}
    </p>
    <p>
        {{ form.lifespan_miles.label }}<br>
        {{ form.lifespan_miles(size=8) }}
    </p>
    <p>
        {{ form.lifespan_months.label }}<br>
        {{ form.lifespan_months(size=2) }}
    </p>
    <p>
        {{ form.add_record() }}
    </p>
</form>
{% endblock %}