<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <nav style="display: flex; gap: 30px">
            <a href="/index">Main Menu</a>
            <a href="/details">Vehicle Details</a>
            <a href="/history">Maintenance History</a>
            <a href="/status">Vehicle Status</a>
            <a href="/add_vehicle">Add New Vehicle</a>
            <a href="/add_record">Add New Maintenane Record</a>
            <button class="dropbtn">Selected Vehicle</button>
        </nav>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>